flows.json
[
    {
        "id": "e6a4f55d302c7354",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "107ceed047be39f6",
        "type": "aedes broker",
        "z": "e6a4f55d302c7354",
        "name": "TesteTibbo",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "persistence_bind": "mongodb",
        "dburl": "",
        "usetls": false,
        "x": 360,
        "y": 460,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c347229ee3326dcd",
        "type": "mqtt in",
        "z": "e6a4f55d302c7354",
        "name": "",
        "topic": "Topico/time",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "68fb6a49da9a2389",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 660,
        "wires": [
            [
                "a5a052374c244d95"
            ]
        ]
    },
    {
        "id": "a5a052374c244d95",
        "type": "debug",
        "z": "e6a4f55d302c7354",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 600,
        "wires": []
    },
    {
        "id": "a8130cf5d1a8cae9",
        "type": "mqtt in",
        "z": "e6a4f55d302c7354",
        "name": "",
        "topic": "Topico/time",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "68fb6a49da9a2389",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 660,
        "wires": [
            [
                "5e73f663aa4119a2"
            ]
        ]
    },
    {
        "id": "93c7390fdcdf9a4a",
        "type": "mqtt in",
        "z": "e6a4f55d302c7354",
        "name": "",
        "topic": "Topico/sn",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "68fb6a49da9a2389",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 760,
        "wires": [
            [
                "e56648377d011b4a",
                "1caa9711c87f78a2",
                "f5b5c9d64f0e08f0"
            ]
        ]
    },
    {
        "id": "e56648377d011b4a",
        "type": "debug",
        "z": "e6a4f55d302c7354",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 720,
        "wires": []
    },
    {
        "id": "8f85dca33f2302d8",
        "type": "mqtt in",
        "z": "e6a4f55d302c7354",
        "name": "",
        "topic": "Topico/total/soma",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "68fb6a49da9a2389",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 860,
        "wires": [
            [
                "e8cbf0c6404cd604"
            ]
        ]
    },
    {
        "id": "75063cdc3fe698e7",
        "type": "mqtt in",
        "z": "e6a4f55d302c7354",
        "name": "",
        "topic": "Topico/total/produtos",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "68fb6a49da9a2389",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 960,
        "wires": [
            [
                "7721f217ffb611d6",
                "891b8318845aa4e6"
            ]
        ]
    },
    {
        "id": "e8cbf0c6404cd604",
        "type": "debug",
        "z": "e6a4f55d302c7354",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 840,
        "wires": []
    },
    {
        "id": "7721f217ffb611d6",
        "type": "debug",
        "z": "e6a4f55d302c7354",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 920,
        "wires": []
    },
    {
        "id": "ce24e8552ee5c974",
        "type": "mqtt in",
        "z": "e6a4f55d302c7354",
        "name": "",
        "topic": "Topico/status/maquina",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "68fb6a49da9a2389",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 1060,
        "wires": [
            [
                "3955fbfebe435950",
                "a92e2f5cdcf14644"
            ]
        ]
    },
    {
        "id": "3955fbfebe435950",
        "type": "debug",
        "z": "e6a4f55d302c7354",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1040,
        "wires": []
    },
    {
        "id": "5e73f663aa4119a2",
        "type": "ui_text",
        "z": "e6a4f55d302c7354",
        "group": "e3f898a1.c7d544",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Último Tempo de Item:",
        "format": "<b>{{msg.payload}}</b>",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 740,
        "y": 660,
        "wires": []
    },
    {
        "id": "1caa9711c87f78a2",
        "type": "ui_text",
        "z": "e6a4f55d302c7354",
        "group": "e3f898a1.c7d544",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Serial/Lote:",
        "format": "<b>{{msg.payload}}</b>",
        "layout": "row-spread",
        "className": "",
        "x": 730,
        "y": 780,
        "wires": []
    },
    {
        "id": "891b8318845aa4e6",
        "type": "ui_gauge",
        "z": "e6a4f55d302c7354",
        "name": "Produtos",
        "group": "e3f898a1.c7d544",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "donut",
        "title": "Total de Produtos",
        "label": "Itens",
        "format": "{{value}}",
        "min": 0,
        "max": 500,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "300",
        "seg2": "450",
        "diff": false,
        "className": "",
        "x": 720,
        "y": 960,
        "wires": []
    },
    {
        "id": "a92e2f5cdcf14644",
        "type": "ui_led",
        "z": "e6a4f55d302c7354",
        "order": 2,
        "group": "e3f898a1.c7d544",
        "width": 0,
        "height": 0,
        "label": "Status máquina",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 750,
        "y": 1080,
        "wires": []
    },
    {
        "id": "f5b5c9d64f0e08f0",
        "type": "function",
        "z": "e6a4f55d302c7354",
        "name": "Calcular Taxa de Produção",
        "func": "let lastTime = context.get('lastTime') || 0;\nlet now = Date.now();\nlet intervalMs = now - lastTime;\ncontext.set('lastTime', now);\n\n// Converte o intervalo de milissegundos para segundos\nlet intervalSeconds = intervalMs / 1000;\n\n// Calcula a Taxa de Produção (Peças por Minuto - PPM)\n// Se o intervalo for zero (acontece na primeira execução), definimos para um valor alto para evitar divisão por zero.\nlet ppm = (intervalSeconds > 0) ? (60 / intervalSeconds) : 0;\n\n// Saída 1: Intervalo de tempo por peça (em segundos)\n// Saída 2: Taxa de Produção (PPM)\nreturn [\n    { payload: intervalSeconds, topic: \"Producao/TempoPorPeca\" }, // Removido .toFixed(2)\n    { payload: ppm.toFixed(1), topic: \"Producao/PPM\" }\n];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 740,
        "wires": [
            [
                "d9b8e9f291307b6f",
                "e9c1c4d92a014a5d"
            ],
            [
                "c9a6b10d7a04c10c"
            ]
        ]
    },
    {
        "id": "d9b8e9f291307b6f",
        "type": "ui_text",
        "z": "e6a4f55d302c7354",
        "group": "e3f898a1.c7d544",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Tempo Peça",
        "label": "Tempo por Peça:",
        "format": "<b>{{msg.payload}}</b> segundos",
        "layout": "row-spread",
        "className": "",
        "x": 1250,
        "y": 760,
        "wires": []
    },
    {
        "id": "c9a6b10d7a04c10c",
        "type": "ui_text",
        "z": "e6a4f55d302c7354",
        "group": "e3f898a1.c7d544",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "PPM",
        "label": "Taxa de Produção (PPM):",
        "format": "<b>{{msg.payload}}</b> PPM",
        "layout": "row-spread",
        "className": "",
        "x": 1250,
        "y": 820,
        "wires": []
    },
    {
        "id": "e9c1c4d92a014a5d",
        "type": "ui_chart",
        "z": "e6a4f55d302c7354",
        "name": "Gráfico Tempo Peça",
        "group": "e3f898a1.c7d544",
        "order": 7,
        "width": 6,
        "height": 4,
        "label": "Tempo por Peça",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando dados...",
        "dot": false,
        "ymin": "0",
        "ymax": "20",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#2ca02c",
            "#d62728",
            "#9467bd",
            "#8c564b",
            "#e377c2",
            "#7f7f7f",
            "#bcbd22",
            "#17becf"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1260,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "68fb6a49da9a2389",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "Node_ID",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e3f898a1.c7d544",
        "type": "ui_group",
        "name": "Monitoramento",
        "tab": "cba47fb4c340b654",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cba47fb4c340b654",
        "type": "ui_tab",
        "name": "Monitoramento de Produção",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ebe75337f3bedaea",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-aedes": "0.15.0",
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-ui-led": "0.4.11"
        }
    }
]